<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="demo.css"/>
  <title></title>
</head>
<body ng-app="skuApp">
<section ng-controller="skuController" class="m-detail">
  <div class="m-detail">
    <div class="row"><h1 class="title">5折ONLY秋装新品雪纺衬衫领A字无袖连衣裙裙子女</h1></div>
    <div ui-sku split-str="#" sku-data="skuInfo">
      <div class="row f-cb">
        <div class="l-col">价格</div>
        <div class="r-col price"><span class="yen">¥</span> 259.00</div>
      </div>
      <div class="row f-cb">
        <div class="l-col">尺码</div>
        <div class="r-col">
          <ul class="m-sku f-cb">
            <li><span ng-class="{'js-seleted': keyMap['S'].selected, 'js-disabled': keyMap['S'].disabled}" ng-click="onKeyClick('S', 0)">S</span></li>
            <li><span ng-class="{'js-seleted': keyMap['M'].selected, 'js-disabled': keyMap['M'].disabled}" ng-click="onKeyClick('M', 0)">M</span></li>
            <li><span ng-class="{'js-seleted': keyMap['L'].selected, 'js-disabled': keyMap['L'].disabled}" ng-click="onKeyClick('L', 0)">L</span></li>
            <li><span ng-class="{'js-seleted': keyMap['XL'].selected, 'js-disabled': keyMap['XL'].disabled}" ng-click="onKeyClick('XL', 0)">XL</span></li>
          </ul>
        </div>
      </div>
      <div class="row f-cb">
        <div class="l-col">颜色</div>
        <div class="r-col">
          <ul class="m-sku f-cb">
            <li><span ng-class="{'js-seleted': keyMap['红色'].selected, 'js-disabled': keyMap['红色'].disabled}" ng-click="onKeyClick('红色', 1)">红色</span></li>
            <li><span ng-class="{'js-seleted': keyMap['橙色'].selected, 'js-disabled': keyMap['橙色'].disabled}" ng-click="onKeyClick('橙色', 1)">橙色</span></li>
            <li><span ng-class="{'js-seleted': keyMap['黄色'].selected, 'js-disabled': keyMap['黄色'].disabled}" ng-click="onKeyClick('黄色', 1)">黄色</span></li>
            <li><span ng-class="{'js-seleted': keyMap['绿色'].selected, 'js-disabled': keyMap['绿色'].disabled}" ng-click="onKeyClick('绿色', 1)">绿色</span></li>
            <li><span ng-class="{'js-seleted': keyMap['蓝色'].selected, 'js-disabled': keyMap['蓝色'].disabled}" ng-click="onKeyClick('蓝色', 1)">蓝色</span></li>
            <li><span ng-class="{'js-seleted': keyMap['紫色'].selected, 'js-disabled': keyMap['紫色'].disabled}" ng-click="onKeyClick('紫色', 1)">紫色</span></li>
          </ul>
        </div>
      </div>
      <div class="row f-cb">
        <div class="l-col">性别</div>
        <div class="r-col">
          <ul class="m-sku f-cb">
            <li><span ng-class="{'js-seleted': keyMap['男'].selected, 'js-disabled': keyMap['男'].disabled}" ng-click="onKeyClick('男', 2)">男</span></li>
            <li><span ng-class="{'js-seleted': keyMap['女'].selected, 'js-disabled': keyMap['女'].disabled}" ng-click="onKeyClick('女', 2)">女</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row f-cb">
      <div class="l-col">库存</div>
      <div class="r-col account">277件</div>
    </div>
  </div>
</section>
<script src="../bower/angular/angular.min.js"></script>
<script src="../src/angular-sku/angularSku.module.js"></script>
<script src="./demo.js"></script>
</body>
</html>